<?xml version="1.0"?>
<!-- 
	Some Informations

	- The "module" Tag's attribute 'enable' is by default true.
-->
<config>
	<general>
		<debug>true</debug>
		<verbose>true</verbose>
		<daemon>true</daemon>
	</general>
	<module name="foo" type="input" enable="true">
		<!-- Module specific settings -->
	</module>
	<module name="bar" type="output" enable="true">
		<!-- Module specific settings -->
	</module>
	<filter>
		<!-- Here are some static filters -->
	</filter>
</config>
