<?xml version="1.0"?>
<!DOCTYPE dirtconf SYSTEM "dirtconf.dtd">
<!-- 
	This is the example configuration of dirteater 
	(http://dirteater.berlios.de)
	
	For license information visit the LICENSE file in that
	package.

	Note:
		- The "plugin" Tag 'enable' is by default true.

	$Id$
-->
<dirtconf>
	<general>
		<!-- Possible types:
			- stdout
			- file (use with tag "file")
			- rotating-file (log rotates if a specified size is reached. 
				Use this together with the tag 'file', 'size' and 'count' wich
				specifies the maximum number of backups)
			- windowslog
			- mail (use it together with the tag 'mail')
			- syslog 
		-->
		<logging>
			<type>stdout</type>
			<!-- More Examples
			<file>dirteater.log</file>
			<count>5</count>
			<size>1024</size> 
			-->
			<debug>true</debug>
			<verbose>false</verbose>
		</logging>
		<daemon>false</daemon>
	</general>

	<plugin name="fifo" type="input" enable="true">
		<fifo>/home/chkorn/dirteaterfifo</fifo>
	</plugin>
	
	<filter>
		<!-- Here are some static filters -->
	</filter>
</dirtconf>
