<?xml version="1.0"?>
<!DOCTYPE dirtconf SYSTEM "dirtconf.dtd">
<!-- 
	This is the example configuration of dirteater 
	(http://dirteater.berlios.de)
	
	For license information visit the LICENSE file in that
	package.

	Note:
		- The "plugin" Tag's attribute 'enable' is by default true.

	$Id$
-->
<dirtconf>
	<general>
		<!-- Possible types:
			- stdout
			- file
			- rotating-file (log rotates if a specified size is reached. 
				Use this together with the attribute 'size')
			- windowslog
			- mail (use it together with the attribute 'mail')
			- syslog 
		-->
		<p>
			<a>asdf</a>
		</p>
		<logging type="stdout">
			<debug>true</debug>
			<verbose>true</verbose>
		</logging>
		<daemon>true</daemon>
	</general>

	<plugin name="foo" type="input" enable="true">
		<!-- Module specific settings -->
	</plugin>
	<plugin name="bar" type="output" enable="true">
		<!-- Module specific settings -->
	</plugin>
	
	<filter>
		<!-- Here are some static filters -->
	</filter>
</dirtconf>
